

+grid_css({
	modifier: 'grid',
	cols: [1, 2, 3, 4],
	gap: 0,
})
	+item({
		addClass: 'extra-large'
	})
		img(src="http://via.placeholder.com/350x150")
	+item({
		addClass: 'normal'
	})
		img(src="http://via.placeholder.com/350x150")
	+item({
		addClass: 'wide'
	})
		img(src="http://via.placeholder.com/350x150")
	+item({
		addClass: 'high'
	})
		img(src="http://via.placeholder.com/350x150")
	+item({
		addClass: 'large'
	})
		img(src="http://via.placeholder.com/350x150")
