-
	var widget_list1 = [
		{
			text : 'Dry Clean'
		},
		{
			text: 'Duvet Cleaning'
		},
		{
			text: 'Ironing Services'
		},
		{
			text: 'Laundry'
		},
		{
			text: 'Wash & Fold'
		},
		{
			text: 'Laundry pickup'
		},
		{
			text : 'Dry Cleaners'
		},
		{
			text: 'Laundry Service'
		},
		{
			text: 'Laundromat London'
		},
		{
			text: 'Same Day Dry Cleaning'
		},
		{
			text: 'Dry Cleaners Near Me'
		},
	]