include /template/funcy/app/_pattern/general/atoms/button/button.pug
include /template/funcy/app/_pattern/general/molecules/featured/featured.pug
include /template/funcy/app/_pattern/general/molecules/form/form-item/form-item.pug
include /template/funcy/app/_pattern/general/molecules/form/form-sub/form-sub.pug
include /template/funcy/app/_pattern/general/molecules/grid-css/grid-css.pug
include /template/funcy/app/_pattern/general/molecules/iconbox/iconbox.pug
include /template/funcy/app/_pattern/general/molecules/portfolio/data.pug
include /template/funcy/app/_pattern/general/molecules/portfolio/portfolio.pug
include /template/funcy/app/_pattern/general/molecules/post/post.pug
include /template/funcy/app/_pattern/general/molecules/progress/progress.pug
include /template/funcy/app/_pattern/general/molecules/section-half/section-half.pug
include /template/funcy/app/_pattern/general/molecules/service/service.pug
include /template/funcy/app/_pattern/general/molecules/social-icon/data.pug
include /template/funcy/app/_pattern/general/molecules/social-icon/social-icon.pug
include /template/funcy/app/_pattern/general/molecules/swiper/swiper.pug
include /template/funcy/app/_pattern/general/molecules/testimonial/testimonial.pug
include /template/funcy/app/_pattern/general/molecules/title/title.pug
include /template/funcy/app/_pattern/general/molecules/widget/data.pug
include /template/funcy/app/_pattern/general/molecules/widget/widget-about/widget-about-01/widget-about-01.pug
include /template/funcy/app/_pattern/general/molecules/widget/widget-archives/widget-archives.pug
include /template/funcy/app/_pattern/general/molecules/widget/widget-category/widget-category.pug
include /template/funcy/app/_pattern/general/molecules/widget/widget-contact/widget-contact.pug
include /template/funcy/app/_pattern/general/molecules/widget/widget-list/widget-list-01/data.pug
include /template/funcy/app/_pattern/general/molecules/widget/widget-list/widget-list-01/widget-list-01.pug
include /template/funcy/app/_pattern/general/molecules/widget/widget-list/widget-list-02/widget-list-02.pug
include /template/funcy/app/_pattern/general/molecules/widget/widget-post/widget-post.pug
include /template/funcy/app/_pattern/general/molecules/widget/widget-quote/widget-quote.pug
include /template/funcy/app/_pattern/general/molecules/widget/widget-twitter/widget-twitter.pug
include /template/funcy/app/_pattern/general/molecules/widget/widget.pug
include /template/funcy/app/_pattern/general/organisms/footer/footer.pug
include /template/funcy/app/_pattern/general/organisms/header/data.pug
include /template/funcy/app/_pattern/general/organisms/header/header.pug
include /template/funcy/app/_pattern/general/organisms/hero/hero.pug
include /template/funcy/app/_pattern/general/organisms/layout/layout.pug