//- Args: img
+section_half({
	container: true,
})


//- Args: img
+section_half({
	container: true,
	colImage: [0,4,6],
	colContent: [0,7,5],
	img: 'http://via.placeholder.com/800x600',
	useImg: false,
	modifier: 'image-left'
})