*{
	box-sizing: border-box;
}

body {
	margin-left: 200px;
	padding: 0;
	
}
 #email,#date,#ten,#password,#đăngnhap,#nhaplaimatkhau {
	width: 425px;
	height: 40px;
	font-size: 20px;
	margin-top:2px;
	border-radius: 10px;

}



.year{
	width: 124px;
	height: 30px;
	font-size: 20px;
	margin-left: 20px;
	border: none;
	background-color: pink;

}


.ok {
	border: 15px solid;
	width: 460px;
	background-color: #96852e;
	border-radius: 20px;
    box-shadow: 10px 10px 5px #888888;
	
}

.male{
	margin: 0;
}

#đăngnhap {
	background-color: lightgoldenrodyellow;
	border-radius: 30px;
	border: none;
}


