/* //--- form_item
--------------------------------------------------------------------------------*/

:global {
	.form-item {
		margin-bottom: 25px;
		overflow: hidden;
	}

	.form__label {
		display: block;
		font-family: $font-secondary;
		text-transform: capitalize;
		color: $color-dark;
		margin-bottom: 10px;
	}

	.form-wrapper {
		margin: 0 -15px;
		overflow: hidden;

		.form-item {
			padding: 0 15px;
		}
	}

	.form-item-btn-center {
		text-align: center;
	}

	@include media('>sm') {
		.form-item--half {
			width: 50%;
			float: left;

		}

		.form-item-btn-right {
			text-align: right;
		}
	}

	.form-control{
		width: 100%;
		padding: 10px !important;
		border: 0;
		background: #f7f7f7;
		border-radius: 5px !important;
	}
}


input {
	&::placeholder {
		color: #878988 !important;
		font-size: 14px;
	}
}
