/* //--- general_space
--------------------------------------------------------------------------------*/
/* //--- general_client
--------------------------------------------------------------------------------*/

// module
.module {
	text-align: center !important;
    margin-bottom: 70px;
}

// media
.media {
	font-size: 45px;
    margin-top: 40px;
    color: #ccc;
    display: inline-block;
    margin-bottom: -20px;
}

// body
.body {
	
}

// title
.title {
	
}

// meta
.meta {
	
}

// text
.text {
	font-weight: 800;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 15px;
    line-height: 1.2;
}

// text_1
.text_1 {
	font-family: 'Raleway', sans-serif;
	margin: 0;
    font-weight: 600;
    color: #ccc !important;
    text-transform: capitalize;
   	font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.2;
}

// badge
.badge {
	
}
