/* //--- grid-css
--------------------------------------------------------------------------------*/

:global {
	@include md-grid('.grid-css', (
		optionsData: true,
		background-color: transparent
	));
	
	.filter {
		margin: 0 -10px 30px;

		li {
			display: inline-block;

			&:global(.current) a {
				color: #F24259;
			}
		}

		a {
			display: block;
			position: relative;
			font-size: 14px;
			font-weight: 500;
			text-transform: capitalize;
			color: #333;
			padding: 5px 10px;
		}
	}
}
