/* //--- grid-css
--------------------------------------------------------------------------------*/

:global {
	@include md-grid('.grid-css', (
		optionsData: true,
		background-color: transparent
	));
	
	.filter {
		margin: 0 -10px 30px;
		text-align: left;

		li {
			display: inline-block;

			&:global(.current) a {
				color: #F24259;
				border-bottom: 1px solid #F24259;
				padding: 0;
			}
		}

		a {
			display: block;
			position: relative;
			font-size: 14px;
			font-weight: 600;
			text-transform: uppercase;
			color: #333;
			padding: 5px 10px;
			letter-spacing: 1px;
			cursor: pointer;
		}
	}
}
