/* //--- service_02
--------------------------------------------------------------------------------*/

// module
.module {
	position: relative;
	padding-left: 70px;
	margin-bottom: 30px;

	&:hover {
		.title,
		.icon {
			color: $theme-color;
		}
	}
}

.title,.icon {
	transition: all .3s ease;
}

// icon
.icon {
	position: absolute;
	top: 0;
	left: 0;

	font-size: 50px;
	line-height: 1;
	color: $color-dark;
	margin-bottom: 10px;
}

// title
.title {
	font-size: 15px;
	font-weight: 500;
    letter-spacing: 2px;
    margin-top: 0;
    margin-bottom: 8px;
}

// text
.text {
	margin-bottom: 0;
}

