
#icon-wrapper {
	z-index: 10;
	width: 48px;
	position: fixed;
	left: 0;
	top: 280px;
}

#icon-wrapper img {
	width: 48px;
	height: 48px;
	float: left;
}

#icon-wrapper img:hover {
	transform: rotate(360deg);
	transition: all 1s ease;
}