
img {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    border: 0;
    vertical-align: middle;
}

.breadcrumb {
	margin-top: 100px;
	text-transform: uppercase;
	color: #B3B5BA;
	border-radius: 4px;
	background-color: #FFF;
	border: 1px solid rgba(213, 216, 222, 0.5);
	padding: 10px 20px;
	display: inline-block;
	margin-bottom: 20px !important;
}

.breadcrumb>li {
	font-size: 11px;
}

.breadcrumb>li>a {
	color: #ffcb0a;
	text-decoration: none;
	cursor: pointer;
}

.breadcrumb>li>span {
	display: inline-block;
}

.container {
    position: relative;
    color: white;
}


.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.top-left a{
	text-decoration: none;
	color: white;
	font-size: 40px;
}

h1 {
	    line-height: 1.4;
    font-size: 40px;
    text-transform: none;
    color: black;
}

