body {
overflow-x: hidden;
}


.container-center {
	margin-left: auto;
	margin-right: auto;
}

.uk-panel {
	display: block;
	position: relative;
}

.uk-width-1-1 {
	width: 100%;
}

.uk-text-center {
	opacity: 1;
	text-align: center !important;
}

.uk-animation {
	animation-duration: 0.5s;
	animation-fill-mode: both;
}

.overlay {
	display: inline-block;
	position: relative;
	max-width: 100%;
	vertical-align: middle;
	overflow: hidden;
	margin: 0;
}

.category.uk-overlay-area {
	background-color: #fff;
	margin: 2px;
}

.uk-overlay-area {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.3);
	opacity: 0;
	transition: opacity 0.15s linear;
}

.category.uk-overlay-area-content {
	color: #828488;
}

.uk-overlay-area-content {
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	vertical-align: middle;
	font-size: 1rem;
	text-align: center;
	padding: 0 15px;
}   

.uk-panel.uk-panel-box {
	background: #FFF;
	border: 1px solid #DDD;
	border-radius: 3px;
	margin-right: 1px;
	position: relative;
	padding-bottom: 54px;
	padding-top: 40px;
}

.category h2.uk-panel-title {
	text-transform: none;
	color: #1c1c1c;
	font-size: 24px;
	line-height: 1;
	text-align: center;
	position: relative;
	font-weight: 300;
	margin-top: 10px !important;
	margin-bottom: 30px;
}

.category.uk-button-large {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	color: #ffcb0a;
	font-size: 14px;
	text-align: center;
	border: 1px solid #DDD;
	border-radius: 20px;
	background: #FFF;
	overflow: hidden;
	padding: 0;
	transition: all 0.2s;
}

.uk-button-large {
	min-height: 40px;
	line-height: 40px;
}

.uk-button {
	-webkit-appearance: none;
	margin: 0;
	font: inherit;
	text-transform: none;
	box-sizing: border-box;
	vertical-align: middle;
	text-decoration: none;
}

i.uk-icon-akplus {
	display: inline-block;
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.category.uk-button-large>span {
	display: none;
}

