

.uk-dotnav {
	display: inline-block;
	flex-wrap: wrap;
    margin-left: -15px;
    margin-top: -15px;
    padding: 0;
    list-style: none;
    z-index: 1;
}

.uk-position-bottom {
	bottom: 0;
    left: 0;
    right: 0;
    position: absolute !important;
}

.uk-dotnav>li {
	float: none;
    display: inline-block;
    padding: 0 10px;
}

.uk-dotnav>a {
	flex: none;
    padding-left: 15px;
    margin-top: 15px;
}

.uk-dotnav > li > a {
    width: 55px;
    height: 55px;
    background-size: cover !important;
    background-repeat: no-repeat;
    opacity: 0.7;
    position: relative;
}

.uk-dotnav-contrast > * > * {
    background: rgba(255, 255, 255, 0.4);
}


.uk-dotnav > * > * {
    display: block;
    box-sizing: content-box;
    border-radius: 50%;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.uk-dotnav>li.uk-active {
	opacity: 1;
	border: none !important;
}



.uk-dotnav > li > a {
    width: 55px;
    height: 55px;
    background-size: cover !important;
    background-repeat: no-repeat;
    position: relative;
}

.uk-dotnav-contrast > .uk-active > * {
    background: rgba(255, 255, 255, 0.9);
}

li>a:hover {
	opacity: 1;
}