include /template/armando/app/_pattern/general/atoms/button/button.pug
include /template/armando/app/_pattern/general/molecules/about-image/about-image.pug
include /template/armando/app/_pattern/general/molecules/contact/contact.pug
include /template/armando/app/_pattern/general/molecules/form/form-item.pug
include /template/armando/app/_pattern/general/molecules/grid-css/grid-css.pug
include /template/armando/app/_pattern/general/molecules/portfolio/data.pug
include /template/armando/app/_pattern/general/molecules/portfolio/portfolio.pug
include /template/armando/app/_pattern/general/molecules/post/post.pug
include /template/armando/app/_pattern/general/molecules/service/service.pug
include /template/armando/app/_pattern/general/molecules/slide-image/slide-image.pug
include /template/armando/app/_pattern/general/molecules/social-icon/data.pug
include /template/armando/app/_pattern/general/molecules/social-icon/social-icon.pug
include /template/armando/app/_pattern/general/molecules/swiper/swiper.pug
include /template/armando/app/_pattern/general/molecules/team/team.pug
include /template/armando/app/_pattern/general/molecules/title/title.pug
include /template/armando/app/_pattern/general/molecules/typing/typing.pug
include /template/armando/app/_pattern/general/organisms/footer/footer.pug
include /template/armando/app/_pattern/general/organisms/header/data.pug
include /template/armando/app/_pattern/general/organisms/header/header.pug
include /template/armando/app/_pattern/general/organisms/hero/hero.pug