* {
	box-sizing: border-box;
}

body {
	font-size: 14px;
	color: #626262;
}

.navbar {
	text-transform: uppercase;
}

.navbar-brand {
	text-transform: uppercase;
	font-size: 30px;

}

.navbar-default {
	background-color: #ffffff;
	border-color: #ffffff;
}

.nav>li>a {
	padding: 10px 50px;
}

@media (min-width: 1200px){
.container {
	width: 1062px;
}
}

