//- demo: true
mixin typing(args)
	+module('div', 'typing__module', args)(data-options=set(args, 'options'))
		- var args = item
		div(class='typed-strings')
			if block
				block
			else
				p Welcome to our website
				p Welcome to CSS Pro
				p= random(random.text, 20)
				p= random(random.text, 20)
		span(class='typed')
