/* //--- contact
--------------------------------------------------------------------------------*/

// module
.module {
	position: relative;
	margin-bottom: 20px;
	z-index: 9;
}

// icon
.icon {
    position: absolute;
    top: 5px;
    left: 0;
	font-size: 30px;
    line-height: 1;
}

// title
.title {
	font-size: 16px;
	font-weight: 400;
	text-transform: capitalize;
	letter-spacing: 1px;
	margin-top: 0;
	margin-bottom: 5px;
}

// text
.text {
	
}

