if (file === "/template/mini/app/_pattern/general/atoms/button/demo.pug")
	include /template/mini/app/_pattern/general/atoms/button/demo.pug
if (file === "/template/mini/app/_pattern/general/molecules/about-image/demo.pug")
	include /template/mini/app/_pattern/general/molecules/about-image/demo.pug
if (file === "/template/mini/app/_pattern/general/molecules/contact/demo.pug")
	include /template/mini/app/_pattern/general/molecules/contact/demo.pug
if (file === "/template/mini/app/_pattern/general/molecules/form/demo.pug")
	include /template/mini/app/_pattern/general/molecules/form/demo.pug
if (file === "/template/mini/app/_pattern/general/molecules/grid-css/demo.pug")
	include /template/mini/app/_pattern/general/molecules/grid-css/demo.pug
if (file === "/template/mini/app/_pattern/general/molecules/portfolio/demo.pug")
	include /template/mini/app/_pattern/general/molecules/portfolio/demo.pug
if (file === "/template/mini/app/_pattern/general/molecules/post/demo.pug")
	include /template/mini/app/_pattern/general/molecules/post/demo.pug
if (file === "/template/mini/app/_pattern/general/molecules/service/demo.pug")
	include /template/mini/app/_pattern/general/molecules/service/demo.pug
if (file === "/template/mini/app/_pattern/general/molecules/slide-image/demo.pug")
	include /template/mini/app/_pattern/general/molecules/slide-image/demo.pug
if (file === "/template/mini/app/_pattern/general/molecules/social-icon/demo.pug")
	include /template/mini/app/_pattern/general/molecules/social-icon/demo.pug
if (file === "/template/mini/app/_pattern/general/molecules/swiper/demo.pug")
	include /template/mini/app/_pattern/general/molecules/swiper/demo.pug
if (file === "/template/mini/app/_pattern/general/molecules/team/demo.pug")
	include /template/mini/app/_pattern/general/molecules/team/demo.pug
if (file === "/template/mini/app/_pattern/general/molecules/title/demo.pug")
	include /template/mini/app/_pattern/general/molecules/title/demo.pug
if (file === "/template/mini/app/_pattern/general/molecules/typing/demo.pug")
	include /template/mini/app/_pattern/general/molecules/typing/demo.pug
if (file === "/template/mini/app/_pattern/general/organisms/footer/demo.pug")
	include /template/mini/app/_pattern/general/organisms/footer/demo.pug
if (file === "/template/mini/app/_pattern/general/organisms/header/demo.pug")
	include /template/mini/app/_pattern/general/organisms/header/demo.pug
if (file === "/template/mini/app/_pattern/general/organisms/hero/demo.pug")
	include /template/mini/app/_pattern/general/organisms/hero/demo.pug