if (file === "/template/imax/app/_pattern/general/atoms/button/demo.pug")
	include /template/imax/app/_pattern/general/atoms/button/demo.pug
if (file === "/template/imax/app/_pattern/general/molecules/about-image/demo.pug")
	include /template/imax/app/_pattern/general/molecules/about-image/demo.pug
if (file === "/template/imax/app/_pattern/general/molecules/client/demo.pug")
	include /template/imax/app/_pattern/general/molecules/client/demo.pug
if (file === "/template/imax/app/_pattern/general/molecules/contact/demo.pug")
	include /template/imax/app/_pattern/general/molecules/contact/demo.pug
if (file === "/template/imax/app/_pattern/general/molecules/description/demo.pug")
	include /template/imax/app/_pattern/general/molecules/description/demo.pug
if (file === "/template/imax/app/_pattern/general/molecules/form/demo.pug")
	include /template/imax/app/_pattern/general/molecules/form/demo.pug
if (file === "/template/imax/app/_pattern/general/molecules/grid-css/demo.pug")
	include /template/imax/app/_pattern/general/molecules/grid-css/demo.pug
if (file === "/template/imax/app/_pattern/general/molecules/mean/demo.pug")
	include /template/imax/app/_pattern/general/molecules/mean/demo.pug
if (file === "/template/imax/app/_pattern/general/molecules/new_team/demo.pug")
	include /template/imax/app/_pattern/general/molecules/new_team/demo.pug
if (file === "/template/imax/app/_pattern/general/molecules/new-menu/demo.pug")
	include /template/imax/app/_pattern/general/molecules/new-menu/demo.pug
if (file === "/template/imax/app/_pattern/general/molecules/partner/demo.pug")
	include /template/imax/app/_pattern/general/molecules/partner/demo.pug
if (file === "/template/imax/app/_pattern/general/molecules/percent/demo.pug")
	include /template/imax/app/_pattern/general/molecules/percent/demo.pug
if (file === "/template/imax/app/_pattern/general/molecules/pills/demo.pug")
	include /template/imax/app/_pattern/general/molecules/pills/demo.pug
if (file === "/template/imax/app/_pattern/general/molecules/portfolio/demo.pug")
	include /template/imax/app/_pattern/general/molecules/portfolio/demo.pug
if (file === "/template/imax/app/_pattern/general/molecules/post/demo.pug")
	include /template/imax/app/_pattern/general/molecules/post/demo.pug
if (file === "/template/imax/app/_pattern/general/molecules/progress/demo.pug")
	include /template/imax/app/_pattern/general/molecules/progress/demo.pug
if (file === "/template/imax/app/_pattern/general/molecules/service/demo.pug")
	include /template/imax/app/_pattern/general/molecules/service/demo.pug
if (file === "/template/imax/app/_pattern/general/molecules/slide-image/demo.pug")
	include /template/imax/app/_pattern/general/molecules/slide-image/demo.pug
if (file === "/template/imax/app/_pattern/general/molecules/social-icon/demo.pug")
	include /template/imax/app/_pattern/general/molecules/social-icon/demo.pug
if (file === "/template/imax/app/_pattern/general/molecules/space/demo.pug")
	include /template/imax/app/_pattern/general/molecules/space/demo.pug
if (file === "/template/imax/app/_pattern/general/molecules/swiper/demo.pug")
	include /template/imax/app/_pattern/general/molecules/swiper/demo.pug
if (file === "/template/imax/app/_pattern/general/molecules/tabs/demo.pug")
	include /template/imax/app/_pattern/general/molecules/tabs/demo.pug
if (file === "/template/imax/app/_pattern/general/molecules/team/demo.pug")
	include /template/imax/app/_pattern/general/molecules/team/demo.pug
if (file === "/template/imax/app/_pattern/general/molecules/title/demo.pug")
	include /template/imax/app/_pattern/general/molecules/title/demo.pug
if (file === "/template/imax/app/_pattern/general/molecules/typing/demo.pug")
	include /template/imax/app/_pattern/general/molecules/typing/demo.pug
if (file === "/template/imax/app/_pattern/general/molecules/value/demo.pug")
	include /template/imax/app/_pattern/general/molecules/value/demo.pug
if (file === "/template/imax/app/_pattern/general/molecules/video/demo.pug")
	include /template/imax/app/_pattern/general/molecules/video/demo.pug
if (file === "/template/imax/app/_pattern/general/organisms/footer/demo.pug")
	include /template/imax/app/_pattern/general/organisms/footer/demo.pug
if (file === "/template/imax/app/_pattern/general/organisms/header/demo.pug")
	include /template/imax/app/_pattern/general/organisms/header/demo.pug
if (file === "/template/imax/app/_pattern/general/organisms/hero/demo.pug")
	include /template/imax/app/_pattern/general/organisms/hero/demo.pug