if (file === "/template/funcy/app/_pattern/general/atoms/button/demo.pug")
	include /template/funcy/app/_pattern/general/atoms/button/demo.pug
if (file === "/template/funcy/app/_pattern/general/molecules/featured/demo.pug")
	include /template/funcy/app/_pattern/general/molecules/featured/demo.pug
if (file === "/template/funcy/app/_pattern/general/molecules/form/form-item/demo.pug")
	include /template/funcy/app/_pattern/general/molecules/form/form-item/demo.pug
if (file === "/template/funcy/app/_pattern/general/molecules/form/form-sub/demo.pug")
	include /template/funcy/app/_pattern/general/molecules/form/form-sub/demo.pug
if (file === "/template/funcy/app/_pattern/general/molecules/grid-css/demo.pug")
	include /template/funcy/app/_pattern/general/molecules/grid-css/demo.pug
if (file === "/template/funcy/app/_pattern/general/molecules/iconbox/demo.pug")
	include /template/funcy/app/_pattern/general/molecules/iconbox/demo.pug
if (file === "/template/funcy/app/_pattern/general/molecules/portfolio/demo.pug")
	include /template/funcy/app/_pattern/general/molecules/portfolio/demo.pug
if (file === "/template/funcy/app/_pattern/general/molecules/post/demo.pug")
	include /template/funcy/app/_pattern/general/molecules/post/demo.pug
if (file === "/template/funcy/app/_pattern/general/molecules/progress/demo.pug")
	include /template/funcy/app/_pattern/general/molecules/progress/demo.pug
if (file === "/template/funcy/app/_pattern/general/molecules/section-half/demo.pug")
	include /template/funcy/app/_pattern/general/molecules/section-half/demo.pug
if (file === "/template/funcy/app/_pattern/general/molecules/service/demo.pug")
	include /template/funcy/app/_pattern/general/molecules/service/demo.pug
if (file === "/template/funcy/app/_pattern/general/molecules/social-icon/demo.pug")
	include /template/funcy/app/_pattern/general/molecules/social-icon/demo.pug
if (file === "/template/funcy/app/_pattern/general/molecules/swiper/demo.pug")
	include /template/funcy/app/_pattern/general/molecules/swiper/demo.pug
if (file === "/template/funcy/app/_pattern/general/molecules/testimonial/demo.pug")
	include /template/funcy/app/_pattern/general/molecules/testimonial/demo.pug
if (file === "/template/funcy/app/_pattern/general/molecules/title/demo.pug")
	include /template/funcy/app/_pattern/general/molecules/title/demo.pug
if (file === "/template/funcy/app/_pattern/general/molecules/widget/demo.pug")
	include /template/funcy/app/_pattern/general/molecules/widget/demo.pug
if (file === "/template/funcy/app/_pattern/general/molecules/widget/widget-about/widget-about-01/demo.pug")
	include /template/funcy/app/_pattern/general/molecules/widget/widget-about/widget-about-01/demo.pug
if (file === "/template/funcy/app/_pattern/general/molecules/widget/widget-archives/demo.pug")
	include /template/funcy/app/_pattern/general/molecules/widget/widget-archives/demo.pug
if (file === "/template/funcy/app/_pattern/general/molecules/widget/widget-category/demo.pug")
	include /template/funcy/app/_pattern/general/molecules/widget/widget-category/demo.pug
if (file === "/template/funcy/app/_pattern/general/molecules/widget/widget-contact/demo.pug")
	include /template/funcy/app/_pattern/general/molecules/widget/widget-contact/demo.pug
if (file === "/template/funcy/app/_pattern/general/molecules/widget/widget-list/widget-list-01/demo.pug")
	include /template/funcy/app/_pattern/general/molecules/widget/widget-list/widget-list-01/demo.pug
if (file === "/template/funcy/app/_pattern/general/molecules/widget/widget-list/widget-list-02/demo.pug")
	include /template/funcy/app/_pattern/general/molecules/widget/widget-list/widget-list-02/demo.pug
if (file === "/template/funcy/app/_pattern/general/molecules/widget/widget-post/demo.pug")
	include /template/funcy/app/_pattern/general/molecules/widget/widget-post/demo.pug
if (file === "/template/funcy/app/_pattern/general/molecules/widget/widget-quote/demo.pug")
	include /template/funcy/app/_pattern/general/molecules/widget/widget-quote/demo.pug
if (file === "/template/funcy/app/_pattern/general/molecules/widget/widget-twitter/demo.pug")
	include /template/funcy/app/_pattern/general/molecules/widget/widget-twitter/demo.pug
if (file === "/template/funcy/app/_pattern/general/organisms/footer/demo.pug")
	include /template/funcy/app/_pattern/general/organisms/footer/demo.pug
if (file === "/template/funcy/app/_pattern/general/organisms/header/demo.pug")
	include /template/funcy/app/_pattern/general/organisms/header/demo.pug
if (file === "/template/funcy/app/_pattern/general/organisms/hero/demo.pug")
	include /template/funcy/app/_pattern/general/organisms/hero/demo.pug
if (file === "/template/funcy/app/_pattern/general/organisms/layout/demo.pug")
	include /template/funcy/app/_pattern/general/organisms/layout/demo.pug