include /template/imax/app/_pattern/general/atoms/button/button.pug
include /template/imax/app/_pattern/general/molecules/about-image/about-image.pug
include /template/imax/app/_pattern/general/molecules/client/client.pug
include /template/imax/app/_pattern/general/molecules/contact/contact.pug
include /template/imax/app/_pattern/general/molecules/description/description.pug
include /template/imax/app/_pattern/general/molecules/form/form-item.pug
include /template/imax/app/_pattern/general/molecules/grid-css/grid-css.pug
include /template/imax/app/_pattern/general/molecules/mean/mean.pug
include /template/imax/app/_pattern/general/molecules/new_team/new_team.pug
include /template/imax/app/_pattern/general/molecules/new-menu/new-menu.pug
include /template/imax/app/_pattern/general/molecules/partner/partner.pug
include /template/imax/app/_pattern/general/molecules/percent/percent.pug
include /template/imax/app/_pattern/general/molecules/pills/pills.pug
include /template/imax/app/_pattern/general/molecules/portfolio/data.pug
include /template/imax/app/_pattern/general/molecules/portfolio/portfolio.pug
include /template/imax/app/_pattern/general/molecules/post/post.pug
include /template/imax/app/_pattern/general/molecules/progress/progress.pug
include /template/imax/app/_pattern/general/molecules/service/service.pug
include /template/imax/app/_pattern/general/molecules/slide-image/slide-image.pug
include /template/imax/app/_pattern/general/molecules/social-icon/data.pug
include /template/imax/app/_pattern/general/molecules/social-icon/social-icon.pug
include /template/imax/app/_pattern/general/molecules/space/space.pug
include /template/imax/app/_pattern/general/molecules/swiper/swiper.pug
include /template/imax/app/_pattern/general/molecules/tabs/tabs.pug
include /template/imax/app/_pattern/general/molecules/team/team.pug
include /template/imax/app/_pattern/general/molecules/title/title.pug
include /template/imax/app/_pattern/general/molecules/typing/typing.pug
include /template/imax/app/_pattern/general/molecules/value/value.pug
include /template/imax/app/_pattern/general/molecules/video/video.pug
include /template/imax/app/_pattern/general/organisms/footer/footer.pug
include /template/imax/app/_pattern/general/organisms/header/data.pug
include /template/imax/app/_pattern/general/organisms/header/header.pug
include /template/imax/app/_pattern/general/organisms/hero/hero.pug