/* //--- title
--------------------------------------------------------------------------------*/

// module
.module {
	margin-bottom: 40px;
}

// title
.title {
	font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    color: #b4ad9e;
}