<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>default</span></div></div>
//- Args: icon, title, people, text, imgsrc
+post({
	
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'icon'</span></div></div>
//- Args: icon, title, people, text, imgsrc
+post({
	modifier: 'icon'
})
