/* //--- post
--------------------------------------------------------------------------------*/

// module
.module {
	background: #fff;
	margin-bottom: 30px;
}

// media
.media {
	overflow: hidden;
	content: empty;
	img {
		width: 100%;
		height: auto;
		transition: all 0.3s linear, 
	}

	img:hover {
		transform: scale(1.1);
	}
}

// body
.body {
	padding: 40px 5px;
}

// title
.title {
	font-weight: 600;
	font-size: 14px;
	margin: 10px 0 10px;
	a {
		color: #F24259;
	}

	a:hover {
		color: #F24259;
	}
}

// text
.text {
	margin-bottom: 20px;
}

// meta
.meta {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	color: #333;
	text-transform: capitalize;
	font-size: 20px;
	margin-bottom: 15px;

	> span +span:before {
		content: '-';
		display: inline-block;
		margin: 0 5px;
	}
}
// badge
.badge {
	content: empty;
	display: inline-block;
    position: absolute;
    top: 15px;
    left: 30px;
    background: #111;
    color: #fff;
    padding: 0 15px;
    text-align: center;
    span{
    	display: inline-block;
   		text-decoration: none;
    	color: inherit;
    	padding: -5px;
    }
}


// modifier icon
.icon {
	padding: 30px 15px;
	content: empty;
	.body{
		padding: 0;
	}
	.media{
		i{
			color: #F24259;
			font-size: 50px;
			margin-bottom: 15px;

		}
	}
	.meta{
		.author{
			overflow: hidden;
    		display: block;
    		margin-bottom: 15px;
    		p{
    			margin: 0;
    		}
		}
	}
	.text{
		margin: 0;
			font-size: 14px;
   			color: #666;
    		line-height: 1.6;
    		word-spacing: 1px;
    		margin: 0;
	}
}