/* //--- widget-about
--------------------------------------------------------------------------------*/

// element
.element {
	margin-bottom: 30px;
	overflow: hidden;
}

// header
.header {
	overflow: hidden;
}

// avatar
.avatar {
	margin-bottom: 30px;
}

// name
.name {
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

// meta
.meta {
	content: empty
}

// body
.body {
	overflow: hidden;
}

// signature
.signature {
	content: empty
}
