-
	var data = [
			{
				text: 'Lifestye',
				url: '#id-1',
				
			},
			{
				text: 'photodiary',
				url: '#id-2',
			},
			{
				text: 'music',
				url: '#id-3',
			},
			{
				text: 'travel',
				url: '#id-4'
			},
			
		]