+md_btn('a', {
	text: 'default'
})

+md_btn('a', {
	text: 'primary',
	modifier: 'primary'
})

+md_btn('a', {
	text: 'dark',
	modifier: 'dark'
})

+md_btn('a', {
	text: 'warning',
	modifier: 'warning'
})

+md_btn('a', {
	text: 'danger',
	modifier: 'danger'
})

+md_btn('a', {
	text: 'info',
	modifier: 'info'
})

+md_btn('a', {
	text: 'success',
	modifier: 'success'
})

+md_btn('a', {
	text: 'link',
	modifier: 'link'
})

+md_btn('a', {
	text: 'disabled',
	modifier: 'success',
	attr: {
		disabled: 'disabled'
	}
})

+md_btn('a', {
	text: 'modifer lg',
	modifier: ['primary', 'lg']
})

+md_btn('a', {
	text: 'modifer md',
	modifier: ['dark', 'md']
})

+md_btn('a', {
	text: 'modifer sm',
	modifier: ['warning', 'sm']
})

+md_btn('a', {
	text: 'modifer xs',
	modifier: ['success', 'xs']
})

+md_btn('a', {
	text: 'modifer square',
	modifier: ['primary', 'square']
})

+md_btn('a', {
	text: 'modifer round',
	modifier: ['dark', 'round']
})

+md_btn('a', {
	text: 'modifer pill',
	modifier: ['warning', 'pill']
})


+md_btn('a', {
	text: 'modifer block',
	modifier: ['square', 'block', 'md']
})

+md_btn('a', {
	modifier: 'gradient',
	text: 'modifer block',
})


+md_btn('a', {
	modifier: 'gradient-outline',
	text: 'modifer block',
})
