//- demo: true
mixin service(args)
	include cssmodule
	+module('div', css.module, args)
		- var args = item
		p(class=css.text)!= set(args, 'text', random(random.text, 80))

		h5(class=css.name)!= set(args, 'name', '')
		
		h6(class=css.career)!= set(args, 'career', '')
			

