/* //--- general_widget-twitter
--------------------------------------------------------------------------------*/

// module
.module {
	content: empty;
}

// content
.content {
	content: empty;
}

// icon
.icon {
	color: $theme-color;
	margin-right: 5px;
}

// text
.text {
	display: inline;
	line-height: 1.9;	
}

// link
.link {
	display: block;
}

// info
.info {
	margin-top: 20px;
}

// date
.date {
	
}
