-
	var dataSocial = [
		{
			icon: 'fa fa-facebook'

		},
		{
			icon: 'fa fa-twitter'

		},
		{
			icon: 'fa fa-flickr'

		},
		{
			icon: 'fa fa-instagram'

		},
		{
			icon: 'fa fa-lastfm'

		},
		{
			icon: 'fa fa-dribbble'

		},
		{
			icon: 'fa fa-stumbleupon'

		}
	]