<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>default</span></div></div>
//- Args: icon, text, text
+socialicon({
	
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'style-02'</span></div></div>
//- Args: icon, text, text
+socialicon({
	modifier: 'style-02'
})
