<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>default</span></div></div>
//- Args: title
+general_description({
	
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'super'</span></div></div>
//- Args: title
+general_description({
	modifier: 'super'
})
