<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>default</span></div></div>
//- Args: title
+title({
	
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'special'</span></div></div>
//- Args: title
+title({
	modifier: 'special'
})
