-
	//- Global
	global_email = 'info@awethemes.com';
	global_copy = '&copy;' + ' ' + new Date().getFullYear() + ' ' + 'UI-ThemeZ. All Rights Reserved.'

	random.title = [
		'Best National Locations',
		'How to Master Microcopy',
		'The Myth of Ugly Design',
		'Using Memes in Your Content',
		'How To Build A Better Website',
		'Design a Perfect Homepage',
		'The Essential Guide to UX for AR',
		'3 Essential Design Trends',
		'Is UX Really That Important?',
		'7 UI Choices That Damage UX',
		'5 Ways to Use 404 Pages',
		'Free Sketch Plugins',
		'Free PSD Files',
		'Getting Started with Vue.Js',
		'How to Create and Manage SVG Sprites',
	]

	random.titlelong = [
		'11 Pricing Table Designs That Really Sell',
		'Playing With Color: Vibrant Options For Apps And Websites',
		'Building Inclusive Toggle Buttons',
		'Uploading Directories At Once With webkitdirectory',
		'How New Font Technologies Will Improve The Web',
		'Why I Switched To Sketch For UI Design',
		'Free Webinars To Get Scaling Design Right',
		'Let\'s Make Building Responsive Websites Simpler',
		'A Guide To Virtual Reality For Web Developers',
		'Is Success Down To The Quality Of Your Work?',
		'An Introduction To Gravit Designer: Designing A Weather App',
		'Designing The Perfect Feature Comparison Table',
		'The Nine Principles Of Design Implementation',
		'Learn From What You See: It All Starts With Inspiration',
		'Creating Custom Inputs With Vue.js',
		'The Missing Advice I Needed When Starting My Career',
		'Designing The Perfect Slider',
		'Designing The Perfect Accordion',
		'Taming Advanced Color Palettes In Photoshop',
		'Building Pattern Libraries With Shadow DOM In Markdown',
		'Things To Keep In Mind When Designing A Transportation Map',
		'Designing The Perfect Date And Time Picker',
		'Apple\'s WWDC 2017 Highlights For iOS Developers',
		'How To Make Use Of Weekly Design Meetings',
		'Free Icon Set: Happy 4th Of July',
		'Building Production-Ready CSS Grid Layouts Today',
		'Hybrid Apps And React Native: A Time To Transition?',
		'The Complete Guide To Switching From HTTP To HTTPS',
		'Creating Better, Faster And More Optimized WordPress Websites',
		'The State Of Advanced Website Builders',
		'Just Keep Scrolling! How To Design Lengthy, Lengthy Pages',
		'Low-Hanging Fruits For Enhancing Mobile UX',
		'Why We Didn\'t Use A Framework',
		'Fluid Responsive Typography With CSS Poly Fluid Sizing',
		'An Abridged Cartoon Introduction To WebAssembly',
		'Basic Patterns For Mobile Navigation: Pros And Cons'
	]

	random.service = [
		'SEO Optimization',
		'Email Marketing',
		'Online Marketing',
		'Support Services',
		'Website Design',
		'Web Development',
		'Social Media',
		'Content Management',
		'Brand & Identity',
		'Site Security',
		'Investment Planning',
		'Risk Management',
		'Business Planning',
		'Lawyer Consulting',
		'Market Research',
		'Marketing Planning',
		'Taxation Services',
		'Suppport Team',
	]

	random.feature = [
		'Lifetime Updates',
		'Looks Perfect',
		'Google Fonts Support',
		'Amazing Plugins',
		'Premium Resources',
		'SEO Optimized',
		'Dark & Light Versions',
		'RTL Support',
		'Wide & Boxed Layouts',
		'Customer Support',
		'Endless Possibilities',
		'Responsive Layout',
		'Retina Graphics',
		'Powerful Performance',
		'Customizable Fonts',
		'Premium Sliders',
		'Great Design',
		'Perfect Coding',
		'Fast Loading',
		'Easy to Customize',
		'5 Stars Support',
		'Parallax Effects',
		'Custom Backgrounds',
		'Unlimited Domains',
		'SSD Servers',
		'SSL Certificates',
		'Super Fast',
	]

	random.appfeature = [
		'Online Shopping',
		'Multimedia Archives',
		'Push Notifications',
		'Quick Settings',
		'Cloud Integration',
		'Private Chat',
		'Calendar Synchronize',
	]

	random.countfeature = [
		'Line of codes',
		'Solutions',
		'Active users',
		'Download',
		'Happy clients',
		'Years in business',
		'Cups of coffee',
		'Awards won',
		'Messages sent',
		'Finished projects',
		'Working hours',
	]

	//- Phone number
	random.phone = [
		'+1-202-555-0164',
		'+1-202-555-0192',
		'+1-202-555-0177',
		'+44 1632 960948',
		'+44 1632 960839',
		'+44 1632 960422',
		'+1-613-555-0182',
		'+1-613-555-0134',
		'+1-613-555-0154',
		'+61 1900 654 321'
	]

	//- Date
	
	var today = new Date(),
		release_day = new Date(),
		max = 10
		min = -20,
		monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];

	function getDateFormat(_date) {
		_date.setDate(today.getDate()+ Math.floor(Math.random() * (max - min + 1) + min) );
		monthIndex = _date.getMonth();
		return monthNames[monthIndex] + ' ' + _date.getDate() + ', '+ _date.getFullYear()
	}

	random.date = [
		//- April 22, 1996 
		getDateFormat(release_day),
		getDateFormat(release_day),
		getDateFormat(release_day),
		getDateFormat(release_day),
		getDateFormat(release_day),
		getDateFormat(release_day)
	]


	//- text
	random.text = [
		'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut laoreet ut lacus a tincidunt. Quisque luctus nibh augue, non ultrices arcu molestie in. Integer finibus dolor lorem, tempor pretium lectus ornare a. Aenean velit turpis, condimentum et pellentesque quis, commodo eget erat. Fusce tortor justo, tempor eu turpis a, egestas euismod odio. Vivamus malesuada suscipit leo id viverra. Donec in risus eu odio porta consectetur. Aliquam hendrerit odio nibh, ut consectetur elit dignissim pretium. Ut ut dapibus nibh. Morbi a ex ut velit ornare tincidunt sit amet vitae ipsum.',
		'Nam suscipit nisi risus, et porttitor metus molestie a. Phasellus id quam id turpis suscipit pretium. Maecenas ultrices, lacus ut accumsan maximus, odio augue rhoncus augue, vulputate maximus mi sapien sed nisl. Sed fermentum congue orci sed lacinia. Nulla nunc purus, consectetur eget rutrum et, rhoncus sit amet turpis. Vivamus sed justo at nisi mollis efficitur. Fusce dictum odio non leo iaculis, vitae malesuada lacus placerat. In sed eleifend elit. Suspendisse et efficitur velit, eget elementum nibh. Donec eu lacus suscipit, euismod mi a, dignissim turpis. Nullam tincidunt, dui quis sollicitudin posuere, est turpis porta ex, et posuere velit felis eget neque. Aenean ipsum diam, condimentum sed urna a, auctor rhoncus magna. Nam vel mauris molestie, vehicula turpis quis, tristique odio.',
		'Curabitur elementum urna augue, eu porta purus gravida in. Cras consectetur, lorem a cursus vestibulum, ligula purus iaculis nulla, in dignissim risus turpis id justo. Sed eleifend ante et ligula eleifend ultricies. Fusce porta feugiat nisl, eget faucibus augue ultrices et. Nullam id leo fringilla, viverra est ut, faucibus lectus. Integer vel finibus ex, et convallis enim. Curabitur tristique convallis neque a eleifend. Donec mattis leo in velit scelerisque, sit amet ultricies erat mollis. Suspendisse potenti. Etiam commodo ipsum placerat, ornare libero a, consequat justo.',
		'Suspendisse ac elit vitae est lacinia interdum eu sit amet mauris. Phasellus aliquam nisi sit amet libero mattis ornare. In varius nunc vel suscipit rhoncus. Nunc hendrerit nisl nec orci eleifend accumsan. Mauris nulla mi, egestas ac maximus ac, ultricies non tellus. Vestibulum varius purus nunc. Cras malesuada diam elit, et efficitur urna elementum at. Nunc volutpat, nibh fringilla dictum euismod, augue diam rutrum risus, in ultricies metus quam ac tortor. Etiam commodo scelerisque mi, sed malesuada lectus tincidunt a. Nullam nibh ex, pulvinar nec elementum ac, feugiat a justo. Nam vitae leo vel odio consequat sollicitudin eu non purus. Sed risus neque, aliquet in risus non, porttitor rhoncus tellus. Morbi et fermentum neque, vel malesuada urna. Morbi faucibus at nisl a vehicula. Praesent orci justo, ullamcorper eget placerat et, feugiat sed augue.',
		'Mauris lacinia venenatis dolor sit amet viverra. Integer malesuada nulla neque. Sed rutrum ligula eu sagittis volutpat. Aliquam erat volutpat. Praesent mattis non nulla eget tempus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer accumsan tellus sed purus hendrerit gravida. Quisque felis sapien, dictum at metus ut, semper tincidunt enim. Donec porttitor, dui et convallis vestibulum, ante turpis faucibus sapien, quis rhoncus sapien ante sed nulla. Phasellus aliquet arcu at magna ultricies vestibulum.',
		'Maecenas lorem ex, euismod eget pulvinar non, facilisis ut leo. Quisque placerat purus in neque efficitur ornare. Nam at justo magna. Aliquam venenatis odio ante, non euismod augue porttitor eget. Maecenas nec viverra eros, eget euismod felis. Integer cursus libero sed lorem euismod, vel iaculis felis placerat. Pellentesque augue lacus, sodales et eros sed, molestie rhoncus ligula. Vivamus sed massa lorem. Suspendisse mollis lectus nec ex fermentum, in consectetur dolor egestas. Phasellus quis ipsum quis nisl ultricies sollicitudin id in dolor. Proin at consequat dui.',
		'Sed ante nisl, fermentum et facilisis in, maximus sed ipsum. Cras hendrerit feugiat eros, ut fringilla nunc finibus sed. Quisque vitae dictum augue, vitae pretium sem. Proin tristique lobortis mauris nec mollis. Mauris id nibh sem. Vivamus ac ligula ac erat ultricies cursus semper ac enim. Aenean ac fringilla lectus. Praesent aliquet, metus eget varius pretium, purus erat commodo magna, ut porta nisl eros non mi. Fusce leo dui, porttitor sed odio in, eleifend ullamcorper nisl. Pellentesque vitae leo at elit convallis commodo vitae sit amet massa. Nunc a est eros. Nunc lectus risus, iaculis sed sem vitae, bibendum dapibus lectus. Vivamus tempor mauris et ligula venenatis, vitae porttitor tellus rutrum. Praesent eget auctor nisl, id auctor tortor. Donec consequat malesuada justo fringilla pharetra.',
		'Nam elit ligula, egestas et ornare non, viverra eu justo. Aliquam ornare lectus ut pharetra dictum. Aliquam erat volutpat. In fringilla erat at eros pharetra faucibus. Nunc a magna eu lectus fringilla interdum luctus vitae diam. Morbi ac orci ac dolor pellentesque interdum vel accumsan risus. In vestibulum mattis turpis nec rhoncus. Maecenas facilisis commodo nunc, in blandit sem rutrum ac. Integer sit amet vehicula sem. Sed dictum arcu sit amet eros tempus pretium. Aenean lobortis risus purus.',
		'Integer placerat ullamcorper urna nec rhoncus. Sed velit justo, lacinia non sapien imperdiet, sagittis fringilla risus. Nulla in est lobortis massa consectetur scelerisque. Etiam eu metus leo. Mauris a maximus magna. Maecenas odio tortor, tincidunt non lacus a, congue imperdiet diam. Pellentesque in euismod mauris. Suspendisse potenti. Aliquam nibh purus, malesuada quis dolor sed, interdum interdum nunc. Suspendisse rhoncus pulvinar dolor sit amet rutrum. Mauris ut arcu et lorem posuere aliquet vitae eu dolor. Fusce sagittis metus vitae pulvinar porta. Vestibulum vehicula ipsum nec purus varius aliquam. Nunc feugiat malesuada justo, vel eleifend libero efficitur ac. Etiam vitae molestie turpis, et eleifend augue. Sed quis sollicitudin elit.',
		'Etiam non varius justo, vel tempor mi. Nulla facilisi. Fusce at tortor arcu. Suspendisse maximus ac nisl eu porta. Praesent eget consequat nisi, at mollis turpis. Quisque sed venenatis neque, at mollis magna. Nullam quis interdum augue, non feugiat leo. Mauris efficitur porta maximus. Curabitur auctor bibendum dui et vestibulum. Etiam at tristique magna, ut aliquam ligula. Pellentesque vel mauris ac ante molestie lacinia. Sed eros mi, laoreet quis magna quis, tristique tempor nunc. Aliquam ultricies accumsan luctus. Fusce ut finibus nunc. Sed porta libero tellus, id malesuada metus scelerisque at. Aliquam erat volutpat.',
		'Duis porttitor libero ac egestas euismod. Maecenas quis felis turpis. Nulla quis turpis sed augue egestas dapibus vel at nibh. Nullam at justo at arcu egestas laoreet. Integer nunc mauris, interdum sit amet massa in, luctus vehicula lectus. Fusce ut luctus dui. Ut et arcu vitae nulla sagittis lobortis. Integer fringilla nisl sed justo interdum efficitur. Proin id mauris est. Quisque mattis nibh ornare ex venenatis commodo hendrerit vel risus. Nunc tempor a enim vel mattis. Suspendisse potenti.'
	]

	//- address
	random.address = [
		'New York, NY, USA',
		'Westfield, New Jersey 07090, USA',
		'Division No. 10, Subd. D, Newfoundland and Labrador, Canada',
		'Acupuncturist Prestwich Manchester, Manchester, UK'
	]

	//- Work
	random.work = [
		'Designer',
		'Developer',
		'Photography',
		'CEO & Founder',
		'Tester',
		'Support'
	]

	//- people
	random.people = {
		name: [
			'Rachel Wagner',
			'Ashley Mills',
			'Bryan Ryan',
			'Brandon Hanson',
			'Brittany Williams',
			'Alice Brooks',
			'Alan Lane',
			'Cynthia Aguilar',
			'Daniel Ramirez',
			'Helen Lane',
			'Maria Gutierrez',
			'Olivia Ryan',
			'Jose Snyder',
			'Bruce Powell',
			'Ann Fowler',
			'Sean Coleman',
			'Roger Burke',
			'Raymond Mendoza'
		],

		avatar: [
			'https://uinames.com/api/photos/male/1.jpg',
			'https://uinames.com/api/photos/male/2.jpg',
			'https://uinames.com/api/photos/male/3.jpg',
			'https://uinames.com/api/photos/male/4.jpg',
			'https://uinames.com/api/photos/male/5.jpg',
			'https://uinames.com/api/photos/male/6.jpg',
			'https://uinames.com/api/photos/male/7.jpg',
			'https://uinames.com/api/photos/male/8.jpg',
			'https://uinames.com/api/photos/male/9.jpg',
			'https://uinames.com/api/photos/male/10.jpg',
			'https://uinames.com/api/photos/male/11.jpg',
			'https://uinames.com/api/photos/male/12.jpg',
			'https://uinames.com/api/photos/male/13.jpg',
			'https://uinames.com/api/photos/male/14.jpg',
			'https://uinames.com/api/photos/male/15.jpg',
			'https://uinames.com/api/photos/male/16.jpg',
			'https://uinames.com/api/photos/male/17.jpg',
			'https://uinames.com/api/photos/male/18.jpg',
			'https://uinames.com/api/photos/male/19.jpg',
			'https://uinames.com/api/photos/male/20.jpg',
			'https://uinames.com/api/photos/female/1.jpg',
			'https://uinames.com/api/photos/female/2.jpg',
			'https://uinames.com/api/photos/female/3.jpg',
			'https://uinames.com/api/photos/female/4.jpg',
			'https://uinames.com/api/photos/female/5.jpg',
			'https://uinames.com/api/photos/female/6.jpg',
			'https://uinames.com/api/photos/female/7.jpg',
			'https://uinames.com/api/photos/female/8.jpg',
			'https://uinames.com/api/photos/female/9.jpg',
			'https://uinames.com/api/photos/female/10.jpg',
			'https://uinames.com/api/photos/female/11.jpg',
			'https://uinames.com/api/photos/female/12.jpg',
			'https://uinames.com/api/photos/female/13.jpg',
			'https://uinames.com/api/photos/female/14.jpg',
			'https://uinames.com/api/photos/female/15.jpg',
			'https://uinames.com/api/photos/female/16.jpg',
			'https://uinames.com/api/photos/female/17.jpg',
			'https://uinames.com/api/photos/female/18.jpg',
			'https://uinames.com/api/photos/female/19.jpg',
			'https://uinames.com/api/photos/female/20.jpg'
		]
	}

	//- continental
	random.continental = [
		'Asia',
		'Africa',
		'North America',
		'South America',
		'Euro',
		'Australia'
	]

	//- country
	random.country = [
		"Afghanistan","Albania","Algeria","Andorra","Angola","Anguilla","Antigua &amp; Barbuda","Argentina","Armenia","Aruba","Australia","Austria","Azerbaijan","Bahamas","Bahrain","Bangladesh","Barbados","Belarus","Belgium","Belize","Benin","Bermuda","Bhutan","Bolivia","Bosnia &amp; Herzegovina","Botswana","Brazil","British Virgin Islands","Brunei","Bulgaria","Burkina Faso","Burundi","Cambodia","Cameroon","Canada","Cape Verde","Cayman Islands","Chad","Chile","China","Colombia","Congo","Cook Islands","Costa Rica","Cote D Ivoire","Croatia","Cruise Ship","Cuba","Cyprus","Czech Republic","Denmark","Djibouti","Dominica","Dominican Republic","Ecuador","Egypt","El Salvador","Equatorial Guinea"
		,"Estonia","Ethiopia","Falkland Islands","Faroe Islands","Fiji","Finland","France","French Polynesia","French West Indies","Gabon","Gambia","Georgia","Germany","Ghana","Gibraltar","Greece","Greenland","Grenada","Guam","Guatemala","Guernsey","Guinea","Guinea Bissau","Guyana","Haiti","Honduras","Hong Kong","Hungary","Iceland","India","Indonesia","Iran","Iraq","Ireland","Isle of Man","Israel","Italy","Jamaica","Japan","Jersey","Jordan","Kazakhstan","Kenya","Kuwait","Kyrgyz Republic","Laos","Latvia","Lebanon","Lesotho","Liberia","Libya","Liechtenstein","Lithuania","Luxembourg","Macau","Macedonia","Madagascar","Malawi","Malaysia","Maldives","Mali","Malta","Mauritania","Mauritius","Mexico","Moldova","Monaco","Mongolia","Montenegro","Montserrat","Morocco","Mozambique","Namibia","Nepal","Netherlands","Netherlands Antilles","New Caledonia","New Zealand","Nicaragua","Niger","Nigeria","Norway","Oman","Pakistan","Palestine","Panama","Papua New Guinea","Paraguay","Peru","Philippines","Poland","Portugal","Puerto Rico","Qatar","Reunion","Romania","Russia","Rwanda","Saint Pierre &amp; Miquelon","Samoa","San Marino","Satellite","Saudi Arabia","Senegal","Serbia","Seychelles","Sierra Leone","Singapore","Slovakia","Slovenia","South Africa","South Korea","Spain","Sri Lanka","St Kitts &amp; Nevis","St Lucia","St Vincent","St. Lucia","Sudan","Suriname","Swaziland","Sweden","Switzerland","Syria","Taiwan","Tajikistan","Tanzania","Thailand","Timor L'Este","Togo","Tonga","Trinidad &amp; Tobago","Tunisia","Turkey","Turkmenistan","Turks &amp; Caicos","Uganda","Ukraine","United Arab Emirates","United Kingdom","United States","United States Minor Outlying Islands","Uruguay","Uzbekistan","Venezuela","Vietnam","Virgin Islands (US)","Yemen","Zambia","Zimbabwe"
	]
	
	//- Font7
	random.font7 = [
		'pe-7s-album','pe-7s-arc','pe-7s-back-2','pe-7s-bandaid','pe-7s-car','pe-7s-diamond','pe-7s-door-lock','pe-7s-eyedropper','pe-7s-female','pe-7s-gym','pe-7s-hammer','pe-7s-headphones','pe-7s-helm','pe-7s-hourglass','pe-7s-leaf','pe-7s-magic-wand','pe-7s-male','pe-7s-map-2','pe-7s-next-2','pe-7s-paint-bucket','pe-7s-pendrive','pe-7s-photo','pe-7s-piggy','pe-7s-plugin','pe-7s-refresh-2','pe-7s-rocket','pe-7s-settings','pe-7s-shield','pe-7s-smile','pe-7s-usb','pe-7s-vector','pe-7s-wine','pe-7s-cloud-upload','pe-7s-cash','pe-7s-close','pe-7s-bluetooth','pe-7s-cloud-download','pe-7s-way','pe-7s-close-circle','pe-7s-id','pe-7s-wristwatch','pe-7s-angle-up-circle','pe-7s-world','pe-7s-volume','pe-7s-users','pe-7s-user-female','pe-7s-switch','pe-7s-angle-down-circle','pe-7s-scissors','pe-7s-wallet','pe-7s-safe','pe-7s-volume2','pe-7s-volume1','pe-7s-voicemail','pe-7s-video','pe-7s-user','pe-7s-upload','pe-7s-unlock','pe-7s-umbrella','pe-7s-trash','pe-7s-tools','pe-7s-timer','pe-7s-ticket','pe-7s-target','pe-7s-sun','pe-7s-study','pe-7s-stopwatch','pe-7s-star','pe-7s-speaker','pe-7s-signal','pe-7s-shuffle','pe-7s-shopbag','pe-7s-share','pe-7s-server','pe-7s-search','pe-7s-film','pe-7s-science','pe-7s-disk','pe-7s-ribbon','pe-7s-repeat','pe-7s-refresh','pe-7s-add-user','pe-7s-refresh-cloud','pe-7s-paperclip','pe-7s-radio','pe-7s-note2','pe-7s-print','pe-7s-network','pe-7s-prev','pe-7s-mute','pe-7s-power','pe-7s-medal','pe-7s-portfolio','pe-7s-like2','pe-7s-plus','pe-7s-left-arrow','pe-7s-play','pe-7s-key','pe-7s-plane','pe-7s-joy','pe-7s-photo-gallery','pe-7s-pin','pe-7s-phone','pe-7s-plug','pe-7s-pen','pe-7s-right-arrow','pe-7s-paper-plane','pe-7s-delete-user','pe-7s-paint','pe-7s-bottom-arrow','pe-7s-notebook','pe-7s-note','pe-7s-next','pe-7s-news-paper','pe-7s-musiclist','pe-7s-music','pe-7s-mouse','pe-7s-more','pe-7s-moon','pe-7s-monitor','pe-7s-micro','pe-7s-menu','pe-7s-map','pe-7s-map-marker','pe-7s-mail','pe-7s-mail-open','pe-7s-mail-open-file','pe-7s-magnet','pe-7s-loop','pe-7s-look','pe-7s-lock','pe-7s-lintern','pe-7s-link','pe-7s-like','pe-7s-light','pe-7s-keypad','pe-7s-junk','pe-7s-info','pe-7s-home','pe-7s-help2','pe-7s-help1','pe-7s-graph3','pe-7s-graph2','pe-7s-graph1','pe-7s-graph','pe-7s-global','pe-7s-gleam','pe-7s-glasses','pe-7s-gift','pe-7s-folder','pe-7s-flag','pe-7s-filter','pe-7s-file','pe-7s-expand1','pe-7s-exapnd2','pe-7s-edit','pe-7s-drop','pe-7s-drawer','pe-7s-download','pe-7s-display2','pe-7s-display1','pe-7s-diskette','pe-7s-date','pe-7s-cup','pe-7s-culture','pe-7s-crop','pe-7s-credit','pe-7s-copy-file','pe-7s-config','pe-7s-compass','pe-7s-comment','pe-7s-coffee','pe-7s-cloud','pe-7s-clock','pe-7s-check','pe-7s-chat','pe-7s-cart','pe-7s-camera','pe-7s-call','pe-7s-calculator','pe-7s-browser','pe-7s-box2','pe-7s-box1','pe-7s-bookmarks','pe-7s-bicycle','pe-7s-bell','pe-7s-battery','pe-7s-ball','pe-7s-back','pe-7s-attention','pe-7s-anchor','pe-7s-albums','pe-7s-alarm','pe-7s-airplay'
	]

	//- fontawesome
	random.fontawesome = [
		'fa fa-address-book','fa fa-address-book-o','fa fa-address-card','fa fa-address-card-o','fa fa-adjust','fa fa-adn','fa fa-align-center','fa fa-align-justify','fa fa-align-left','fa fa-align-right','fa fa-amazon','fa fa-ambulance','fa fa-american-sign-language-interpreting','fa fa-anchor','fa fa-android','fa fa-angellist','fa fa-angle-double-down','fa fa-angle-double-left','fa fa-angle-double-right','fa fa-angle-double-up','fa fa-angle-down','fa fa-angle-left','fa fa-angle-right','fa fa-angle-up','fa fa-apple','fa fa-archive','fa fa-area-chart','fa fa-arrow-circle-down','fa fa-arrow-circle-left','fa fa-arrow-circle-o-down','fa fa-arrow-circle-o-left','fa fa-arrow-circle-o-right','fa fa-arrow-circle-o-up','fa fa-arrow-circle-right','fa fa-arrow-circle-up','fa fa-arrow-down','fa fa-arrow-left','fa fa-arrow-right','fa fa-arrow-up','fa fa-arrows','fa fa-arrows-alt','fa fa-arrows-h','fa fa-arrows-v','fa fa-asl-interpreting','fa fa-assistive-listening-systems','fa fa-asterisk','fa fa-at','fa fa-audio-description','fa fa-automobile','fa fa-backward','fa fa-balance-scale','fa fa-ban','fa fa-bandcamp','fa fa-bank','fa fa-bar-chart','fa fa-bar-chart-o','fa fa-barcode','fa fa-bars','fa fa-bath','fa fa-bathtub','fa fa-battery','fa fa-battery-0','fa fa-battery-1','fa fa-battery-2','fa fa-battery-3','fa fa-battery-4','fa fa-battery-empty','fa fa-battery-full','fa fa-battery-half','fa fa-battery-quarter','fa fa-battery-three-quarters','fa fa-bed','fa fa-beer','fa fa-behance','fa fa-behance-square','fa fa-bell','fa fa-bell-o','fa fa-bell-slash','fa fa-bell-slash-o','fa fa-bicycle','fa fa-binoculars','fa fa-birthday-cake','fa fa-bitbucket','fa fa-bitbucket-square','fa fa-bitcoin','fa fa-black-tie','fa fa-blind','fa fa-bluetooth','fa fa-bluetooth-b','fa fa-bold','fa fa-bolt','fa fa-bomb','fa fa-book','fa fa-bookmark','fa fa-bookmark-o','fa fa-braille','fa fa-briefcase','fa fa-btc','fa fa-bug','fa fa-building','fa fa-building-o','fa fa-bullhorn','fa fa-bullseye','fa fa-bus','fa fa-buysellads','fa fa-cab','fa fa-calculator','fa fa-calendar','fa fa-calendar-check-o','fa fa-calendar-minus-o','fa fa-calendar-o','fa fa-calendar-plus-o','fa fa-calendar-times-o','fa fa-camera','fa fa-camera-retro','fa fa-car','fa fa-caret-down','fa fa-caret-left','fa fa-caret-right','fa fa-caret-square-o-down','fa fa-caret-square-o-left','fa fa-caret-square-o-right','fa fa-caret-square-o-up','fa fa-caret-up','fa fa-cart-arrow-down','fa fa-cart-plus','fa fa-cc','fa fa-cc-amex','fa fa-cc-diners-club','fa fa-cc-discover','fa fa-cc-jcb','fa fa-cc-mastercard','fa fa-cc-paypal','fa fa-cc-stripe','fa fa-cc-visa','fa fa-certificate','fa fa-chain','fa fa-chain-broken','fa fa-check','fa fa-check-circle','fa fa-check-circle-o','fa fa-check-square','fa fa-check-square-o','fa fa-chevron-circle-down','fa fa-chevron-circle-left','fa fa-chevron-circle-right','fa fa-chevron-circle-up','fa fa-chevron-down','fa fa-chevron-left','fa fa-chevron-right','fa fa-chevron-up','fa fa-child','fa fa-chrome','fa fa-circle','fa fa-circle-o','fa fa-circle-o-notch','fa fa-circle-thin','fa fa-clipboard','fa fa-clock-o','fa fa-clone','fa fa-close','fa fa-cloud','fa fa-cloud-download','fa fa-cloud-upload','fa fa-cny','fa fa-code','fa fa-code-fork','fa fa-codepen','fa fa-codiepie','fa fa-coffee','fa fa-cog','fa fa-cogs','fa fa-columns','fa fa-comment','fa fa-comment-o','fa fa-commenting','fa fa-commenting-o','fa fa-comments','fa fa-comments-o','fa fa-compass','fa fa-compress','fa fa-connectdevelop','fa fa-contao','fa fa-copy','fa fa-copyright','fa fa-creative-commons','fa fa-credit-card','fa fa-credit-card-alt','fa fa-crop','fa fa-crosshairs','fa fa-css3','fa fa-cube','fa fa-cubes','fa fa-cut','fa fa-cutlery','fa fa-dashboard','fa fa-dashcube','fa fa-database','fa fa-deaf','fa fa-deafness','fa fa-dedent','fa fa-delicious','fa fa-desktop','fa fa-deviantart','fa fa-diamond','fa fa-digg','fa fa-dollar','fa fa-dot-circle-o','fa fa-download','fa fa-dribbble','fa fa-drivers-license','fa fa-drivers-license-o','fa fa-dropbox','fa fa-drupal','fa fa-edge','fa fa-edit','fa fa-eercast','fa fa-eject','fa fa-ellipsis-h','fa fa-ellipsis-v','fa fa-empire','fa fa-envelope','fa fa-envelope-o','fa fa-envelope-open','fa fa-envelope-open-o','fa fa-envelope-square','fa fa-envira','fa fa-eraser','fa fa-etsy','fa fa-eur','fa fa-euro','fa fa-exchange','fa fa-exclamation','fa fa-exclamation-circle','fa fa-exclamation-triangle','fa fa-expand','fa fa-expeditedssl','fa fa-external-link','fa fa-external-link-square','fa fa-eye','fa fa-eye-slash','fa fa-eyedropper','fa fa-fa','fa fa-facebook','fa fa-facebook-f','fa fa-facebook-official','fa fa-facebook-square','fa fa-fast-backward','fa fa-fast-forward','fa fa-fax','fa fa-feed','fa fa-female','fa fa-fighter-jet','fa fa-file','fa fa-file-archive-o','fa fa-file-audio-o','fa fa-file-code-o','fa fa-file-excel-o','fa fa-file-image-o','fa fa-file-movie-o','fa fa-file-o','fa fa-file-pdf-o','fa fa-file-photo-o','fa fa-file-picture-o','fa fa-file-powerpoint-o','fa fa-file-sound-o','fa fa-file-text','fa fa-file-text-o','fa fa-file-video-o','fa fa-file-word-o','fa fa-file-zip-o','fa fa-files-o','fa fa-film','fa fa-filter','fa fa-fire','fa fa-fire-extinguisher','fa fa-firefox','fa fa-first-order','fa fa-flag','fa fa-flag-checkered','fa fa-flag-o','fa fa-flash','fa fa-flask','fa fa-flickr','fa fa-floppy-o','fa fa-folder','fa fa-folder-o','fa fa-folder-open','fa fa-folder-open-o','fa fa-font','fa fa-font-awesome','fa fa-fonticons','fa fa-fort-awesome','fa fa-forumbee','fa fa-forward','fa fa-foursquare','fa fa-free-code-camp','fa fa-frown-o','fa fa-futbol-o','fa fa-gamepad','fa fa-gavel','fa fa-gbp','fa fa-ge','fa fa-gear','fa fa-gears','fa fa-genderless','fa fa-get-pocket','fa fa-gg','fa fa-gg-circle','fa fa-gift','fa fa-git','fa fa-git-square','fa fa-github','fa fa-github-alt','fa fa-github-square','fa fa-gitlab','fa fa-gittip','fa fa-glass','fa fa-glide','fa fa-glide-g','fa fa-globe','fa fa-google','fa fa-google-plus','fa fa-google-plus-circle','fa fa-google-plus-official','fa fa-google-plus-square','fa fa-google-wallet','fa fa-graduation-cap','fa fa-gratipay','fa fa-grav','fa fa-group','fa fa-h-square','fa fa-hacker-news','fa fa-hand-grab-o','fa fa-hand-lizard-o','fa fa-hand-o-down','fa fa-hand-o-left','fa fa-hand-o-right','fa fa-hand-o-up','fa fa-hand-paper-o','fa fa-hand-peace-o','fa fa-hand-pointer-o','fa fa-hand-rock-o','fa fa-hand-scissors-o','fa fa-hand-spock-o','fa fa-hand-stop-o','fa fa-handshake-o','fa fa-hard-of-hearing','fa fa-hashtag','fa fa-hdd-o','fa fa-header','fa fa-headphones','fa fa-heart','fa fa-heart-o','fa fa-heartbeat','fa fa-history','fa fa-home','fa fa-hospital-o','fa fa-hotel','fa fa-hourglass','fa fa-hourglass-1','fa fa-hourglass-2','fa fa-hourglass-3','fa fa-hourglass-end','fa fa-hourglass-half','fa fa-hourglass-o','fa fa-hourglass-start','fa fa-houzz','fa fa-html5','fa fa-i-cursor','fa fa-id-badge','fa fa-id-card','fa fa-id-card-o','fa fa-ils','fa fa-image','fa fa-imdb','fa fa-inbox','fa fa-indent','fa fa-industry','fa fa-info','fa fa-info-circle','fa fa-inr','fa fa-instagram','fa fa-institution','fa fa-internet-explorer','fa fa-intersex','fa fa-ioxhost','fa fa-italic','fa fa-joomla','fa fa-jpy','fa fa-jsfiddle','fa fa-key','fa fa-keyboard-o','fa fa-krw','fa fa-language','fa fa-laptop','fa fa-lastfm','fa fa-lastfm-square','fa fa-leaf','fa fa-leanpub','fa fa-legal','fa fa-lemon-o','fa fa-level-down','fa fa-level-up','fa fa-life-bouy','fa fa-life-buoy','fa fa-life-ring','fa fa-life-saver','fa fa-lightbulb-o','fa fa-line-chart','fa fa-link','fa fa-linkedin','fa fa-linkedin-square','fa fa-linode','fa fa-linux','fa fa-list','fa fa-list-alt','fa fa-list-ol','fa fa-list-ul','fa fa-location-arrow','fa fa-lock','fa fa-long-arrow-down','fa fa-long-arrow-left','fa fa-long-arrow-right','fa fa-long-arrow-up','fa fa-low-vision','fa fa-magic','fa fa-magnet','fa fa-mail-forward','fa fa-mail-reply','fa fa-mail-reply-all','fa fa-male','fa fa-map','fa fa-map-marker','fa fa-map-o','fa fa-map-pin','fa fa-map-signs','fa fa-mars','fa fa-mars-double','fa fa-mars-stroke','fa fa-mars-stroke-h','fa fa-mars-stroke-v','fa fa-maxcdn','fa fa-meanpath','fa fa-medium','fa fa-medkit','fa fa-meetup','fa fa-meh-o','fa fa-mercury','fa fa-microchip','fa fa-microphone','fa fa-microphone-slash','fa fa-minus','fa fa-minus-circle','fa fa-minus-square','fa fa-minus-square-o','fa fa-mixcloud','fa fa-mobile','fa fa-mobile-phone','fa fa-modx','fa fa-money','fa fa-moon-o','fa fa-mortar-board','fa fa-motorcycle','fa fa-mouse-pointer','fa fa-music','fa fa-navicon','fa fa-neuter','fa fa-newspaper-o','fa fa-object-group','fa fa-object-ungroup','fa fa-odnoklassniki','fa fa-odnoklassniki-square','fa fa-opencart','fa fa-openid','fa fa-opera','fa fa-optin-monster','fa fa-outdent','fa fa-pagelines','fa fa-paint-brush','fa fa-paper-plane','fa fa-paper-plane-o','fa fa-paperclip','fa fa-paragraph','fa fa-paste','fa fa-pause','fa fa-pause-circle','fa fa-pause-circle-o','fa fa-paw','fa fa-paypal','fa fa-pencil','fa fa-pencil-square','fa fa-pencil-square-o','fa fa-percent','fa fa-phone','fa fa-phone-square','fa fa-photo','fa fa-picture-o','fa fa-pie-chart','fa fa-pied-piper','fa fa-pied-piper-alt','fa fa-pied-piper-pp','fa fa-pinterest','fa fa-pinterest-p','fa fa-pinterest-square','fa fa-plane','fa fa-play','fa fa-play-circle','fa fa-play-circle-o','fa fa-plug','fa fa-plus','fa fa-plus-circle','fa fa-plus-square','fa fa-plus-square-o','fa fa-podcast','fa fa-power-off','fa fa-print','fa fa-product-hunt','fa fa-puzzle-piece','fa fa-qq','fa fa-qrcode','fa fa-question','fa fa-question-circle','fa fa-question-circle-o','fa fa-quora','fa fa-quote-left','fa fa-quote-right','fa fa-ra','fa fa-random','fa fa-ravelry','fa fa-rebel','fa fa-recycle','fa fa-reddit','fa fa-reddit-alien','fa fa-reddit-square','fa fa-refresh','fa fa-registered','fa fa-remove','fa fa-renren','fa fa-reorder','fa fa-repeat','fa fa-reply','fa fa-reply-all','fa fa-resistance','fa fa-retweet','fa fa-rmb','fa fa-road','fa fa-rocket','fa fa-rotate-left','fa fa-rotate-right','fa fa-rouble','fa fa-rss','fa fa-rss-square','fa fa-rub','fa fa-ruble','fa fa-rupee','fa fa-s15','fa fa-safari','fa fa-save','fa fa-scissors','fa fa-scribd','fa fa-search','fa fa-search-minus','fa fa-search-plus','fa fa-sellsy','fa fa-send','fa fa-send-o','fa fa-server','fa fa-share','fa fa-share-alt','fa fa-share-alt-square','fa fa-share-square','fa fa-share-square-o','fa fa-shekel','fa fa-sheqel','fa fa-shield','fa fa-ship','fa fa-shirtsinbulk','fa fa-shopping-bag','fa fa-shopping-basket','fa fa-shopping-cart','fa fa-shower','fa fa-sign-in','fa fa-sign-language','fa fa-sign-out','fa fa-signal','fa fa-signing','fa fa-simplybuilt','fa fa-sitemap','fa fa-skyatlas','fa fa-skype','fa fa-slack','fa fa-sliders','fa fa-slideshare','fa fa-smile-o','fa fa-snapchat','fa fa-snapchat-ghost','fa fa-snapchat-square','fa fa-snowflake-o','fa fa-soccer-ball-o','fa fa-sort','fa fa-sort-alpha-asc','fa fa-sort-alpha-desc','fa fa-sort-amount-asc','fa fa-sort-amount-desc','fa fa-sort-asc','fa fa-sort-desc','fa fa-sort-down','fa fa-sort-numeric-asc','fa fa-sort-numeric-desc','fa fa-sort-up','fa fa-soundcloud','fa fa-space-shuttle','fa fa-spinner','fa fa-spoon','fa fa-spotify','fa fa-square','fa fa-square-o','fa fa-stack-exchange','fa fa-stack-overflow','fa fa-star','fa fa-star-half','fa fa-star-half-empty','fa fa-star-half-full','fa fa-star-half-o','fa fa-star-o','fa fa-steam','fa fa-steam-square','fa fa-step-backward','fa fa-step-forward','fa fa-stethoscope','fa fa-sticky-note','fa fa-sticky-note-o','fa fa-stop','fa fa-stop-circle','fa fa-stop-circle-o','fa fa-street-view','fa fa-strikethrough','fa fa-stumbleupon','fa fa-stumbleupon-circle','fa fa-subscript','fa fa-subway','fa fa-suitcase','fa fa-sun-o','fa fa-superpowers','fa fa-superscript','fa fa-support','fa fa-table','fa fa-tablet','fa fa-tachometer','fa fa-tag','fa fa-tags','fa fa-tasks','fa fa-taxi','fa fa-telegram','fa fa-television','fa fa-tencent-weibo','fa fa-terminal','fa fa-text-height','fa fa-text-width','fa fa-th','fa fa-th-large','fa fa-th-list','fa fa-themeisle','fa fa-thermometer','fa fa-thermometer-0','fa fa-thermometer-1','fa fa-thermometer-2','fa fa-thermometer-3','fa fa-thermometer-4','fa fa-thermometer-empty','fa fa-thermometer-full','fa fa-thermometer-half','fa fa-thermometer-quarter','fa fa-thermometer-three-quarters','fa fa-thumb-tack','fa fa-thumbs-down','fa fa-thumbs-o-down','fa fa-thumbs-o-up','fa fa-thumbs-up','fa fa-ticket','fa fa-times','fa fa-times-circle','fa fa-times-circle-o','fa fa-times-rectangle','fa fa-times-rectangle-o','fa fa-tint','fa fa-toggle-down','fa fa-toggle-left','fa fa-toggle-off','fa fa-toggle-on','fa fa-toggle-right','fa fa-toggle-up','fa fa-trademark','fa fa-train','fa fa-transgender','fa fa-transgender-alt','fa fa-trash','fa fa-trash-o','fa fa-tree','fa fa-trello','fa fa-tripadvisor','fa fa-trophy','fa fa-truck','fa fa-try','fa fa-tty','fa fa-tumblr','fa fa-tumblr-square','fa fa-turkish-lira','fa fa-tv','fa fa-twitch','fa fa-twitter','fa fa-twitter-square','fa fa-umbrella','fa fa-underline','fa fa-undo','fa fa-universal-access','fa fa-university','fa fa-unlink','fa fa-unlock','fa fa-unlock-alt','fa fa-unsorted','fa fa-upload','fa fa-usb','fa fa-usd','fa fa-user','fa fa-user-circle','fa fa-user-circle-o','fa fa-user-md','fa fa-user-o','fa fa-user-plus','fa fa-user-secret','fa fa-user-times','fa fa-users','fa fa-vcard','fa fa-vcard-o','fa fa-venus','fa fa-venus-double','fa fa-venus-mars','fa fa-viacoin','fa fa-viadeo','fa fa-viadeo-square','fa fa-video-camera','fa fa-vimeo','fa fa-vimeo-square','fa fa-vine','fa fa-vk','fa fa-volume-control-phone','fa fa-volume-down','fa fa-volume-off','fa fa-volume-up','fa fa-warning','fa fa-wechat','fa fa-weibo','fa fa-weixin','fa fa-whatsapp','fa fa-wheelchair','fa fa-wheelchair-alt','fa fa-wifi','fa fa-wikipedia-w','fa fa-window-close','fa fa-window-close-o','fa fa-window-maximize','fa fa-window-minimize','fa fa-window-restore','fa fa-windows','fa fa-won','fa fa-wordpress','fa fa-wpbeginner','fa fa-wpexplorer','fa fa-wpforms','fa fa-wrench','fa fa-xing','fa fa-xing-square','fa fa-y-combinator','fa fa-y-combinator-square','fa fa-yahoo','fa fa-yc','fa fa-yc-square','fa fa-yelp','fa fa-yen','fa fa-yoast','fa fa-youtube','fa fa-youtube-play','fa fa-youtube-square'
	]


	//- process
	random.process = {
		title: [
			'Easy demo content',
			'Multiple options',
			'Professional support'
		],

		title01: [
			'Idea',
			'Design',
			'Code',
			'Test'
		]
	}

	//- post
	random.post = {
		title: [
			'Light & Bright in Brooklyn',
			'Latest Trends in Scandinavian Design',
			'Bohemian Loft Living in Portland',
			'A Baker’s Best Kept Secrets',
			'Vintage Finds in New Orleans',
			'Top 5 Cherry Blossom Festivals',
			'Bucket List: London’s Lush Greenhouses',
			'Essential Tips for Portrait Photographers',
			'Must-Have Styles for Summer',
			'Backpacking the Southern Cascades',
			'Blogger Spotlight: Kelsey’s Dallas',
			'Copenhagen’s Hip Bike Culture',
			'America’s National Parks on a Budget',
			'Exploring the Columbia River Gorge',
			'Oregon’s Hidden Coastal Gems',
			'Summertime beach',
			'Game in the desert',
			'Memorable holidays',
			'Group you travel',
			'Style you young',
			'Happy before nature',
			'Sweet taste, food',
			'Trip and holidays',
			'A taste of life',
			'Brunch With Friends',
			'My Trip to New York',
			'Flowers & Decorations',
			'Fragments of Iceland',
			'Of Monsters and Men',
			'Cali Road Trip',
			'Summer Salad Recipe',
			'The Lion’s Roar',
			'Roskilde Festival',
			'Adventures in Oregon',
			'My Latest Adventure'
		],

		title01: [
			'Light & Bright in Brooklyn',
			'Latest Trends in Scandinavian Design',
			'Bohemian Loft Living in Portland',
			'A Baker’s Best Kept Secrets',
			'Vintage Finds in New Orleans',
			'Top 5 Cherry Blossom Festivals',
			'Bucket List: London’s Lush Greenhouses',
			'Essential Tips for Portrait Photographers',
			'Must-Have Styles for Summer',
			'Backpacking the Southern Cascades',
			'Blogger Spotlight: Kelsey’s Dallas',
			'Copenhagen’s Hip Bike Culture',
			'America’s National Parks on a Budget',
			'Exploring the Columbia River Gorge',
			'Oregon’s Hidden Coastal Gems'
		],

		title02: [
			'Summertime beach',
			'Game in the desert',
			'Memorable holidays',
			'Group you travel',
			'Style you young',
			'Happy before nature',
			'Sweet taste, food',
			'Trip and holidays',
			'A taste of life',
			'Brunch With Friends',
			'My Trip to New York',
			'Flowers & Decorations',
			'Fragments of Iceland',
			'Of Monsters and Men',
			'Cali Road Trip',
			'Summer Salad Recipe',
			'The Lion’s Roar',
			'Roskilde Festival',
			'Adventures in Oregon',
			'My Latest Adventure'
		],

	}


	//- portfolio
	random.portfolio = {
		title: [
			'Cloud Inc',
			'90s Package',
			'Desk Concept',
			'Bergenfield',
			'Capricho',
			'Adestra',
		],

		categories: [
			'Photography',
			'Branding',
			'Print',
			'Digital Art',
			'Web design',
			'Development',
			'Furniture',
			'Logo',
			'People'
		]

	}

	//- product
	random.product = {
		name: [
			'Lose Oversized Shirt','Two-Tone Cotton-Poplin Shirt','Neutral Washed Silk Blouse','Cotton-Jersey Top','Cutout cashmere, wool and silk-blend sweater','AESOP Mouthwash, 500ml','Large Tortoiseshell Acetate Comb','90 Proof Pomade, 50ml','Four Piece Shaving Set','Grand Soir Eau De Parfum, 70ml','Zebrano Wood Shave Set','Horn And Super Badger Bristle Shaving Brush','Vintage Straight Razor','Motion Shell Hooded Jacket','MISSONI Space-Dyed Cotton Zip-Up Hoodie','James Perse Slim-Fit Printed Cotton-Jersey T-Shirt','Slim-Fit Cotton Oxford Shirt','RRL Mélange Cotton Sweater','Day Hiker Canvas Backpack','Slim-Fit Washed-Denim Jeans','J.CREW Cotton Club Shorts','Brown Leather Shoes','Round Eyeglass Frames','Yellow Straight Razor','Classic Black Telephone','Chic Dutch Single Speed Bicycle','Neutral Washed Silk Blouse','Cotton-Jersey Top','Cotton-Jersey and Tiered Pleated Poplin T-shirt','Oversized Cotton-Blend Shell Bomber Jacket','Button Embellished Printed Cotton Jersey','Stretch-Silk Casual Mini Dress','B/W Cotton-Poplin Shirt','Love Leather Skirt','LA One Size Fits All Shirt','Painter Petite Top','Black And White Varsity Jacket','Biker Leather Jacket With Multi Quilted Details','Skater Girl Style Leather Jacket'
		],

		categories: [
			'Bags',
			'Shoes',
			'Clothing',
			'Men',
			'Women'
		],

		label: [
			'sale',
			'new',
			'hot',
			'','','','','','','','',''
		]
	}

