<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>default</span></div></div>
//- Args: type, class, name, placeholder
+general_form-sub({
	
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'style-02'</span></div></div>
//- Args: type, class, name, placeholder
+general_form-sub({
	modifier: 'style-02'
})
